!!! 5
/[if lt IE 7 ] <html lang="en" class="no-js ie6">
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--
%head
  %meta{:charset => "utf-8"}
  %title Jason Harrelson

  = javascript_include_tag 'modernizr-custom'

  = stylesheet_link_tag 'app'

%body
  #page
    #header
      = render :partial => 'pages/show/logo'
      = render :partial => 'pages/show/navigation'

    = render :partial => 'pages/show/about_me'
    = render :partial => 'pages/show/contact_me'
    = render :partial => 'pages/show/footer'

    = render :partial => 'pages/show/scripts'
